<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Access camera to enable video during consultations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access photos to share images during consultations.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save consultation photos to your library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access microphone to enable audio during consultations.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Access Bluetooth to connect to headphones and audio devices during calls.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Access Bluetooth to connect to headphones and audio devices during calls.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
